{% extends 'stuff/book_form.html' %}
{% load static %}
{% block addBook %}
        <h2 class="content-center">Dodaj nową książkę</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in form %}
                <div class="form-container sign-in">

                    <div class="admin-add-book">
                        {% if field.label == 'Tags' %}
                            {% for tag in field %}
                            <p>{{tag}}</p>
                            {% endfor %}
                        {% else %}
                            <label for="">{{field.label}} </label>
                            <p class="input input--text" id="formInput#text">{{field}}</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
               
                <div>
                    <button type="submit" id="Button1">Add Book</button>

                </div>
            </form>
            


{% endblock addBook %}