{% extends 'stuff/book_form.html' %}
{% load static %}
{% block addBook %}

            <form method="POST">
                {% csrf_token %}

                {% for field in form %}
                <div style="border: 2px solid black;">
                    <div class="admin-add-book">
                        <label for="">{{field.label}} </label>
                        {{field}}
                    </div>
                </div>
                {% endfor %}
               
                <div class="center-div">
                </div>
            </form>
            
            <button type="submit" id="Button1">Add Book</button>


{% endblock addBook %}