<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles\test1style.css' %}">
    <title>Admin Panel</title>
</head>
<body>
    <div class="card">
        <div class="row">
            <div class="col-md-8 cart"> 
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        
                        <h3 class="content-center"><a href="{% url 'stuff:stuff_list' %}">Powrót</a></h3>

            {% block updateBook %}

            {% endblock updateBook %}
            
            {% block addBook %}

            {% endblock addBook %}


            {% block content %}
            {% endblock content %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>