
{% block navbar %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'styles\navbarstyle.css' %}">

</head>

<body>
    <body>
        <header>
            <h1 class="navbar-brand"><a style="text-decoration: none;" href="{%url 'stuff:stuff_list' %}">HaHaHardcovers</a></h1>
            <div class="header-buttons">
                <form class="d-flex" role="search" method="get" action="{% url 'stuff:stuff_list' %}">
                    <input class="form-control me-2" type="search" placeholder="Wyszukaj" name ="search_query" aria-label="Search" value="{{search_query}}">
                    <button class="btn btn-outline-light" type="submit">🔎</button>
                  </form>
                  <a href="{% url 'stuff:cart' %}" class="cart-link">🛒Koszyk</a>
                  <div>
                  <div class="circle">{{ cartitems }}</div>
                </div>
              {% if user.is_authenticated %}
                  {% if user.is_superuser %}
                  <button id="Button1">
                      <a href="{% url 'stuff:add_Book' %}" class="category_bar_element">Dodaj książkę</a>
                  </button>
                  {% endif %}
              <button id="Button1">
                  <a href="{% url 'users:logout' %}" class="category_bar_element">Wyloguj</a>
              </button>
              {% else %}
              <button id="Button1">
                  <a href="{% url 'users:login_Register' %}" class="category_bar_element">Zaloguj/Zarejestruj</a>
              </button>
              {% endif %}
            </div>
        </header>
    
        <nav>
            <a href="{% url 'stuff:stuff_list' %}">🏠Strona Główna</a>
                <a href="#" data-bs-toggle="dropdown">
                    📚Kategorie
                </a>
                <ul class="dropdown-menu">
                    {% for tag in tags %}
                    <form class="d-flex" role="search" method="get" action="{% url 'stuff:stuff_list' %}">

                    <input class="form-control" type="submit" name ="category"  value="{{tag.name}}">

                    </form>
                    {% endfor %}
                        
                  </ul>
            <a href="{% url 'stuff:contact_Page' %}">📞Kontakt</a>
        </nav>
</body>



</html>
{% endblock %}