{% extends 'index.html' %}
{% load static %}
{% block stuff %}
    {% for book in books %}
    <li>
      {% if book.imageURL %}
        <img src="{{ book.imageURL }}" alt="">
      {% else %}
        <img src="{% static 'images/blank.png' %}" alt="">
      {% endif %}
      <a class="read-more-button" href="#">
        {{book.title}}
      </a>
      {{book.author}}<br/>
      {{book.price|floatformat:2}} zł
      {% if user.is_superuser %}
        <a href="{% url 'stuff:update-book' pk=book.id %}">Update</a>
      {% endif %}
      <button data-book="{{book.id}}" data-action="add" class="addItem">Dodaj do koszyka</button>
    </li>

    {% endfor %}
{% endblock %}