<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles\test1style.css' %}">
    <title>Admin Panel</title>
</head>
<body>
    <div class="admin-container">
        <header class="admin-header">
            <h1>Admin Panel/Add Book</h1>
            <Button id="Button1">Wyloguj</Button>
        </header>
        <aside class="admin-sidebar">
            <nav>
                <a href="#" class="category_bar_element">Edit Book</a>
                <a href="#" class="category_bar_element">Delete Book</a>
                <!--Wiecej opcji-->
            </nav>
        </aside>
        <div class="admin-div">
            <!-- Tu co w srodku-->
            <h2 class="content-center">Dodaj nową książkę</h2>
            <form method="POST">
                {% csrf_token %}

                {% for field in form %}
                <div style="border: 2px solid black;">
                    <div class="admin-add-book">
                        <label for="">{{field.label}} </label>
                        {{field}}
                    </div>
                </div>
                {% endfor %}
               
                <div class="center-div">
                    <button type="submit" id="Button1">Update Book</button>
                </div>
            </form>
        </div>
        <footer class="admin-footer">
            &copy; 2024 HaHaHardcovers
        </footer>
    </div>
</body>
</html>