
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles\cartstyle.css' %}">
    
    <title>Koszyk</title>
</head>
<body>
    <div class="card">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col"><h4><b>Koszyk</b></h4></div>
                        <div class="col align-self-center text-right text-muted">Ilość :</div>
                    </div>
                </div>
                {% if items %}  
                    {% for item in items %}
                        <div>
                        {% if item.book.imageURL %}
                            <img src="{{ item.book.imageURL }}" alt="">
                        {% else %}
                            <img src="{% static 'images/blank.png' %}" alt="">
                        {% endif %}
                    </div>
                        <div class="row">
                            <h1>{{item.book.title}}</h1>
                            <p>{{item.book.price|floatformat:2}}</p>
                            <p>Łącznie {{item.get_total}}</p>

                            <img data-book="{{item.book.id}}" data-action="add" class="addItem" src="{% static  'images/up.png' %}">

                            <img data-book="{{item.book.id}}" data-action="remove" class="addItem" src="{% static  'images/down.png' %}">

                        </div>
                        <p>Ilość: {{item.quantity}}</p>
                    {% endfor %}
                {% else %}
                    <div class="col align-self-center text-right text-muted"><h3>Brak przedmiotów w koszyku</h3></div>
                {% endif %}
                <div class="back-to-shop"><a href="{% url 'stuff:stuff_list' %}"><span class="text-muted">Powrót do sklepu</span></a></div>
            </div>
            <div class="col-md-4 summary">
                <div><h5><b>Podsumowanie</b></h5></div>
                <hr>
                <div class="row">
                </div>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">Ilość przedmiotów w koszyku {{order.get_cart_items}}</div>
                    <div class="col">Łączna cena {{order.get_cart_total}}</div>
                    <div class="col text-right">PLN cena</div>
                    
                </div>
                {% if items %}
    
                    <button class="btn" id="btn_checkout"><a id="btn_checkout" href="{% url 'stuff:checkout' %}" style="color: aliceblue;">Podsumowanie</a></button>

                {% endif %}
            </div>
        </div>
        
    </div>
</body>
<script>
    const user = "{{request.user}}"

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
</script>
<script type="text/javascript" src="{% static 'scripts/cart.js' %}"></script>



</html>

