{% extends 'stuff/book_form.html' %}
{% block content %}

    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">                
                <br>

                <form class="form" method="POST" action="">
                    {% csrf_token %}
                    <p>Jesteś pewny że chcesz usunąć '{{object}}'?</p>
                    

                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Potwierdź" />
                </form>
            </div>
        </div>
    </main>


{% endblock %}


