<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles\mainstyl.css' %}">
    <title>HaHaHardcovers</title>

    {% block nav %}
    {% include 'stuff/navbar.html' %}
    {% endblock nav %}


    <section class="trend-section">
        <h2>Popularne</h2>
        <ul id="popular-book-list">
            {% block stuff %}

            {% endblock stuff %}

            
        </ul>
    </section>
    </ul>
    </section>

    <footer>
        &copy; 2023 HaHaHardcovers
    </footer>
    
<script type="text/javascript" src="{% static 'scripts/nav.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/cart.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    var user = '{{request.user}}'

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
</script>
</body>
</html>



{% for message in messages %}
    {% if message.tags == 'info' %}
        <!-- sweetalert js -->
        <script>
            var m = "Wylogowano";
            Swal.fire({
            icon: 'success',
            text: m,
            showConfirmButton: false,
            color: 'black',
            background: 'white',
            timer: 1000,
            showClass: {
                        popup: 'my-icon'                     
                        },
                });
        </script> 
    {% else %}
        <script>
            var m = "Pomyslnie zalogowano";
            Swal.fire({
            position: "centre",
            icon: "success",
            title: m,
            showConfirmButton: false,
            timer: 1000,
            showClass: {
                        popup: 'my-icon'                     
                        },
                });
    </script> 
    {% endif %}
{% endfor %}