<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles\mainstyl.css' %}">
    <title>HaHaHardcovers</title>

</head>

<body>
    <header>
        <h1 class="navbar-brand">HaHaHardcovers</h1>
        <div class="header-buttons">
            <div id="searchBanner1" class="search-bar">
                <input type="text" id="searchInput1" placeholder="Search...">
                <button id="Button2" type="submit">Search</button>
            </div>
            <a href="#" class="cart-link">🛒Koszyk</a>
        {% if user.is_authenticated %}
            <button>
                <a href="{% url 'users:user-profile' user.profile.id %}">Profil</a>
            </button>
            {% if user.is_superuser %}
            <button>
                <a href="{% url 'stuff:add_Book' %}">Dodaj książkę</a>
            </button>
            {% endif %}
        <button id="Button1">
            <a href="{% url 'users:logout' %}">Wyloguj</a>
        </button>
        {% else %}
        <button id="Button1">
            <a href="{% url 'users:login' %}">Zaloguj</a>
        </button>
        {% endif %}
        </div>
    </header>

    <nav>
        <a href="#">🏠Strona Główna</a>
        <a href="#">📚Książki</a>
        <a href="#">💻Ebooki</a>
        <a href="#">📢Bestsellery</a>
        <a href="#">🏷️Promocje</a>
        <a href="#">📞Kontakt</a>
    </nav>

    <div class="sidebar">
        <div class="top">
            <h2>Kategorie Książek</h2>
            <ul>
                <li><a class="category_bar_element" href="#">Fantastyka</a></li>
                <li><a class="category_bar_element" href="#">Dramat</a></li>
                <li><a class="category_bar_element" href="#">Naukowe</a></li>
                <li><a class="category_bar_element" href="#">Dla dzieci</a></li>
            </ul>
        </div>
    </div>
    <section class="trend-section">
        <h2>Popularne</h2>
        <ul id="popular-book-list">
            {% block stuff %}

            {% endblock stuff %}
        </ul>
    </section>
    </ul>
    </section>

    <footer>
        &copy; 2023 HaHaHardcovers
    </footer>

</body>

</html>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var header = document.querySelector("header");
        var nav = document.querySelector("nav");
        var offset = header.offsetHeight;
    
        function toggleFixedHeader() {
            if (window.scrollY > offset) {
                header.classList.add("fixed-header");
                nav.style.marginTop = offset + "px";
            } else {
                header.classList.remove("fixed-header");
                nav.style.marginTop = "0";
            }
        }
    
        window.addEventListener("scroll", toggleFixedHeader);
        toggleFixedHeader();
    });
    </script>