<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles\mainstyle.css' %}">
    <title>HaHaHardcovers</title>

</head>
<body>
    <header>
        <h1 class="navbar-brand">HaHaHardcovers</h1>
        <form action="{% url 'login_form' %}" method="get">
            <button id="Button1">Zaloguj</button>
        </form>
    </header>

    <nav>
        <a href="#">🏠Strona Główna</a>
        <a href="#">📚Książki</a>
        <a href="#">💻Ebooki</a>
        <a href="#">📢Bestsellery</a>
        <a href="#">🏷️Promocje</a>
        <a href="#">📞Kontakt</a>
        <a href="#">🛒Koszyk</a>
    </nav>

    <nav id="searchBanner1">
        <a>
            <input type="text" id="searchInput1" placeholder="Search..." placeholder="Search">
            <button id="Button1" type="submit">Search</button>
          </form>
      </a>
    </nav>

    <nav id="searchBanner">
        <a>
            <input type="text" id="searchInput" placeholder="Search..." placeholder="Search">
            <button id="Button1" type="submit">Search</button>
          </form>
      </a>
    </nav>

    <aside>
        <h2>Kategorie Książek</h2>
        <ul>
            <li><a href="#">Fantastyka</a></li>
            <li><a href="#">Dramat</a></li>
            <li><a href="#">Naukowe</a></li>
            <li><a href="#">Dla dzieci</a></li>
            <!-- Dodaj więcej kategorii według potrzeb -->
        </ul>
    </aside>
    <section class="trend-section">
        <h2>Popularne</h2>
            <ul id="popular-book-list">
                {% block stuff %}
              
              {% endblock stuff %}
            </ul>
          </section>
        </ul>
      </section>

    <footer>
        &copy; 2023 HaHaHardcovers
    </footer>

</body>
</html>

<script>
     window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
    var searchBanner = document.getElementById("searchBanner");
    if (document.body.scrollTop > 170 || document.documentElement.scrollTop > 170) {
        searchBanner.style.display = "block";
        searchBanner.style.opacity = "1";
        searchBanner.style.transform = "translateY(0)";
    } else {
        searchBanner.style.opacity = "0";
        searchBanner.style.transform = "translateY(-100%)";
    }
    }
  </script>
