


{% extends 'stuff/book_form.html' %}


{% block content %}


<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
        <h3>Password reset sent</h3></div></div>
        <br>
        <p>
            Wysłaliśmy Ci e-mail z instrukcjami dotyczącymi ustawienia hasła, jeśli istnieje konto powiązane z podanym adresem e-mail. Powinieneś je otrzymać wkrótce.
        </p>
            
            
        <p>
            Jeśli nie otrzymasz e-maila, upewnij się, że podałeś właściwy adres, z którym się zarejestrowałeś, i sprawdź folder ze spamem.
        </p>
            
        </div>
    </div>
</main>
{% endblock content %}

