{% extends 'index.html' %}


{% block content %}


<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">

            <h3>Hasło został zresetowane</h3>
            <p>Twoje hasło zostało zmienione. Możesz teraz przejść do logowania.</p>
            <br>
            <div>
                <a id="Button1" style="text-decoration: none; color:aliceblue;" href="{% url 'users:login_Register' %}">LogIn</a>
            </div>
        </div>
    </div>

{% endblock content %}