
{% load static %}
{% block content %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link rel="stylesheet" href="{% static 'styles\BookPageStyle.css' %}">


<body>
    {% block navbar %}
    {% endblock navbar %}

        <div class="book-container">
            <div class="book-image">
                <img src="{% static 'images/blank.png' %}" alt="Okładka książki">
            </div>
            <div class="book-details">
                <div class="book-title">Tytuł Książki</div>
                <div class="book-description">
                    Opis książki.
                    Opis książki.
                    Opis książki.
                </div>
                <div class="book-price">Cena: $19.99</div>
                <a href="#" class="buy-now-btn">Kup Teraz</a>
            </div>
            

</body>

</html>
{% endblock content %}