@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
}

header{
    background-color: #491e66;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: -100px;
    transition: top 0.3s;
}

.header-buttons {
    display: flex;
    align-items: center;
}

#searchBanner1 {
    display: flex;
    align-items: center;
}

#searchInput1 {
    padding: 5px;
    margin-right: 5px;
    background-color: transparent;
    color: #fff;
}

#Button2 {
    background-color: transparent;
    color: #fff;
}

.cart-link {
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: transparent;
}

#Button1 {
    font-family: 'Montserrat', sans-serif;
    background: #9c86aa;
    border: none;
    padding: 8px 22px;
    border-radius: 6px;
    transition: all 0.2s ease;
}

#Button1:active {
    transform: scale(0.9);
}


nav {
    display: flex;
    justify-content: center;
    background-color: #9c86aa;
    padding: 10px;
    width: 100%;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #491e66;
    color: #fff;
}

aside {
    background-color: #edd5fc;
    padding: 10px;
    width: 200px;
    height: 100vh;
}

section {
    padding: 20px;
    flex: 1;
}

footer {
    background-color: #491e66;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.trend-section li{
    background-color:#9c86aa;
}
.trend-section li img,
.trend-section li a {
    opacity: 1;
}
#popular-book-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
    align-items: center;
}

#popular-book-list img {
    width: 50%;
    height: 50%;
}
.read-more-button {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #491e66;
    opacity: .8;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 1s;
}

.read-more-button:hover {
    background-color: #9c86aa;
}
@media (max-width: 768px) {
    #popular-book-list {
    grid-template-columns: repeat(2, 1fr);
    }
}

.sidebar{
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: #491e66;
    padding: 0.4rem 0.8rem;
    color: #fff;
}

.category_bar_element{
    text-decoration: none;
    color: #fff;
}